<div class="mdl-layout__drawer">
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ SITEURL }}">
      <i class="material-icons mdl-list__item-icon">home</i> Home
    </a>
    <a class="mdl-navigation__link" href="{{ SITEURL }}/categories">
      <i class="material-icons mdl-list__item-icon">description</i> Categories
    </a>
    <a class="mdl-navigation__link" href="{{ SITEURL }}/tags">
      <i class="material-icons mdl-list__item-icon">dns</i> Tags
    </a>
  </nav>
</div>
