<!-- Library -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.min.css" />
<script defer src="//cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/lib/css/zenburn.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/css/reveal.min.css" />
<script defer src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/lib/js/head.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/js/reveal.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/slide.css" id="theme">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abril+Fatface%7COpen+Sans%7CPT+Sans" />
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css" />

<!-- JS -->
<script defer src="{{ .Site.BaseURL }}js/slide.bundle.js"> </script>
