{% extends "base.html" %}

{% block title %}
<title>{{ article.title }} | {{ SITENAME }}</title>
<meta property="og:title" content="{{ article.title }} | {{ SITENAME }}" />
{% endblock %}

{% block metadata %}
{% if article.description %}
<meta name="description" content="{{ article.description }}">
<meta property="og:description" content="{{ article.description }}">
{% else %}
<meta name="description" content="{{ BIO }}">
<meta property="og:description" content="{{ BIO }}">
{% endif %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell--2-col"></div>
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
    <div class="mdl-card__supporting-text markdown-body">
      {{ article.content }}
    </div>
  </div>
  <div class="mdl-cell--2-col"></div>
</div>
{% endblock %}
