{% for article in articles_page.object_list %}
<div class="mdl-cell mdl-cell--2-col"></div>
<div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--8dp">
  {% set article_content = article.summary %}
  {% include "partials/article_base.html" %}
  <section class="mdl-card__actions mdl-card--border">
    <div class="mdl-typography--text-right">
      <a class="mdl-button mdl-js-button mdl-color-text--accent"
         href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">
        <i class="material-icons">event</i>
        Read more
      </a>
    </div>
  </section>
</div>
<div class="mdl-cell mdl-cell--2-col"></div>
{% endfor %}
