{% for article in articles_page.object_list %}
<div class="mdl-cell mdl-cell--2-col"></div>
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
  <header class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      {{ article.title }}
    </h2>
  </header>
  <div class="mdl-layout-spacer"></div>
  <section class="mdl-card__supporting-text">
    <p>{{ article.description }}</p>
  </section>
  <section class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">
      <i class="material-icons">event</i>
      Readmore
    </a>
  </section>
</div>
{% endfor %}

{% if articles_page.has_previous() or articles_page.has_next() %}
<nav class="nav mdl-cell mdl-cell--12-col">
  {% if articles_page.has_previous() %}
  {% set prev_pg_num = articles_page.previous_page_number() %}
  <a class="nav__button" href="{{ SITEURL }}/{{ page_name }}{{ prev_pg_num if prev_pg_num > 1 else '' }}.html">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" role="presentation">
      <i class="material-icons">arrow_back</i>
      <span class="mdl-button__ripple-container">
        <span class="mdl-ripple"></span>
      </span>
    </button>
    Newer
  </a>
  {% endif %}
  <div class="section-spacer"></div>
  {% if articles_page.has_next() %}
  {% set next_pg_num = articles_page.next_page_number() %}
  <a class="nav__button" href="{{ SITEURL }}/{{ page_name }}{{ next_pg_num }}.html">
    Older
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" role="presentation">
      <i class="material-icons">arrow_forward</i>
      <span class="mdl-button__ripple-container">
        <span class="mdl-ripple"></span>
      </span>
    </button>
  </a>
  {% endif %}
</nav>
{% endif %}
