<header class="mdl-card__title mdl-color-text--grey-600">
  <h1 class="mdl-card__title-text"> {{ article.title }} </h1>
</header>
<div class="mdl-layout-spacer"></div>
<section class="mdl-card__supporting-text">
  <div class="mdl-typography--text-right">
    <a class="mdl-chip mdl-chip--contact mdl-color--primary-contrast" href="{{ SITEURL }}/{{ article.category.url }}">
      <i class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--accent-contrast">
        description
      </i>
      <span class="mdl-chip__text mdl-color-text--primary">{{ article.category }}</span>
    </a>
    {% if article.tags %}
    {% for tag in article.tags %}
    <a class="mdl-chip mdl-chip--contact mdl-color--primary-contrast" href="{{ SITEURL }}/{{ tag.url }}">
      <i class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--accent-contrast">
        dns
      </i>
      <span class="mdl-chip__text mdl-color-text--primary">{{ tag }}</span>
    </a>
    {% endfor %}
    {% endif %}
  </div>
  <p class="mdl-card__subtitle--text mdl-typography--text-right">
  <time>{{ article.date }}</time>
  </p>
  <div class="markdown-body mdl-color-text--grey-600">
    {% if article_content %}
    {{ article_content }}
    {% else %}
    {{ article.content }}
    {% endif %}
  </div>
</section>
