:root {
  --base-color: #202020;
  --link-color: #268bd2;
  --font-family: "PT Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "メイリオ", Meiryo, sans-serif;
}

body {
  font-family: var(--font-family);
}

.sidebar a {
  text-decoration: none;
  transition: color 0.4s ease;
}

.sidebar a:hover,
.sidebar a:focus {
  color: var(--link-color);
}

.content a,
.paginator a {
  display: inline-block;
  text-decoration: none;
}

.content a::after,
.paginator a::after {
  display: block;
  content: "";
  height: 0.1em;
  width: 0%;
  background-color: var(--link-color);
  transition: width 0.4s ease;
}

.content .post-title a::after,
.paginator .post-title a::after {
  background-color: var(--base-color);
}

.content a:hover::after,
.content a:focus::after,
.paginator a:hover::after,
.paginator a:focus::after {
  width: 100%;
}

.sidebar-nav > li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (min-width: 48em) {
  .sidebar-nav > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
