<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/zenburn.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js" defer></script>
<script src="{{ .Site.BaseURL }}js/index.bundle.js" defer></script>
