{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<main class="content container">
  <div class="posts">
    <div class="post">
      <h3 class="post-title">
        {{ .Title }}
      </h3>
      <ul class="post-content">
        {{ range (.Paginate .Data.Pages).Pages }}
        <li>
          <span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
          </span>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</main>

{{ template "_internals/paginator.html" . }}
{{ partial "foot.html" . }}
