{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<main class="content container">
  <div class="post">
    <h1>{{ .Title }}</h1>
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    {{ .Content }}
  </div>

  {{- if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
  <h2>Comments</h2>
  {{ partial "disqus" . }}
  {{- end }}
</main>

{{- if or (.Params.categories) (.Params.tags) }}
<nav class="content container">
  {{- partial "tags.html" . }}
</nav>
{{- end }}

{{ partial "foot.html" . }}
