{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<main class="content container">
  <div class="posts">
    <div class="post">
      <h3 class="post-title">
        {{ .Title }}
      </h3>
      <ul class="post-content">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <li>
          <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">
            {{ $value.Name }} ({{ $value.Count }})
          </a>
          <ol>
            {{ range first 3 $value.Pages.ByPublishDate }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <time class="pull-right post-list">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
              </time>
            </li>
            {{ end }}
          </ol>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</main>

{{ partial "foot.html" . }}
