<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ template "_default/include-head.html" . }}
  </head>
  <body class="{{ .Site.Params.css }}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <div class="posts">
        <div class="post">
          <h3 class="post-title">
            {{ .Title }}
          </h3>
          <ul class="post-content">
            {{ range .Data.Terms.ByCount }}
            <li>
              <a href="{{ $.Site.BaseURL }}{{ $.Data.Plural }}/{{ .Name | urlize }}">
                {{ .Name }} ({{ .Count }})
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    {{ template "_internals/analytics.html" . }}
  </body>
</html>
