    <footer>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.min.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/zenburn.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
      <script defer src="/js/index.bundle.js"></script>
      {{ partial "analytics.html" . }}
    </footer>
  </body>
</html>
