<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ template "_default/include-head.html" . }}
  </head>

  <body class="{{ .Site.Params.css }}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <h1>404: Page not found</h1>
      <p class="lead">
      Sorry, we've misplaced that URL or it's pointing to something that doesn't exist.
      <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.
      </p>
    </div>

    {{ template "_internals/paginator.html" . }}
  </body>
</html>
