<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ template "_default/include-head.html" . }}
  </head>

  <body class="{{ .Site.Params.css }}">
    {{ partial "sidebar.html" . }}

    <main class="content container">
    <div class="posts">
      {{ range (.Paginate (where .Data.Pages "Section" "posts") 5).Pages }}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h1>
        <span class="post-date">
          {{ .Date.Format "Mon, Jan 2, 2006" }}
        </span>

        <div class="post-content">
          {{ template "_internals/tags.html" . }}

          <p>{{ .Summary }}</p>
          {{ if .Truncated }}<a href="{{ .RelPermalink }}">More...</a>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    </main>

    {{ template "_internals/paginator.html" . }}
  </body>
</html>
