<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ template "_default/include-head.html" . }}
    {{ template "_internals/analytics.html" . }}
  </head>

  <body class="{{ .Site.Params.css }}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <div class="posts">
        {{ range (.Paginate (where .Data.Pages "Section" "post") 5).Pages }}
        <div class="post">
          <h2 class="post-title">
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </h2>
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T03:04" }}">
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </time>

          <div class="post-content">
            {{ template "_internals/tags.html" . }}

            <p>{{ .Summary }}</p>
            {{ if .Truncated }}<a href="{{ .RelPermalink }}">More...</a>{{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    {{ template "_internals/paginator.html" . }}
  </body>
</html>
