@import "@mijime/theme/index.css";
@import "tailwindcss";
@source "./**/*.{ts,tsx}";

.canvas-grid {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 20px 20px;
}

:is(.dark) .canvas-grid {
  background-image: radial-gradient(#334155 1px, transparent 1px);
}

.transform-container {
  transform-origin: 0 0;
  transition: transform 0.05s ease-out;
}

.node-selected {
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.4);
  outline: 3px solid #6366f1;
  outline-offset: 2px;
}
